.stepperinput {
    display: flex;
    display: -webkit-flex;
    color: gray;
    max-width: 120px;
    margin: 0 auto;
  }
    .stepperinput .increment,
    .stepperinput .decrement {
      height: 24px;
      width: 24px;
      border: '1px solid $gray-eighty';
      text-align: center;
      box-sizing: border-box;
      border-radius: 50%;
      text-decoration: none;
      color: inherit;
      font-size: 24px;
      line-height: 22px;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
      .stepperinput:hover {
        color:green;
        border-color: green;
      }
      .stepperinput:active {
        color: white;
        border-color: green;
        background: lighten(green, 15%);
      }
    
    .quantity {
      height: 24px;
      width: 48px;
      text-align: center;
      margin: 0 12px;
      border-radius: 2px;
      border: 1px solid gray;
    }
      .quantity:focus {
        outline: none;
        border-color: lightgreen;
      
    }
  